{% extends 'base.html' %}
{% block content %}
    {% if not request.user.is_authenticated %}
        <div class="alert alert-warning"> Please Log-In first to buy following Products</div>
    {% endif %}
<h1>Our Products:</h1><hr>
<div class="row p-row">

    {% for p in product_data %}
        <div class="col-sm-3">
            <div class="card">
                <img src="{{p.imageURL}}" alt="Product Picture" style="width:100%">
                <div class="card-body">
                    <h2 class="card-title">{{p.p_name}}</h2>
                    <h4>${{p.p_price}}</h4>
                    <p class="card-text">{{p.p_desc}}</p>
                </div>
                {% if request.user.is_authenticated %}
                
                    {% if p.p_owner.username == request.user.username %}
                        {% if p.ToBeSell != True %}
                        <a href="currancy/sell?abc={{p.id}}" class="btn btn-outline-warning" >Add to Market for Sell</a>
                        {% else %}
                        <a href="currancy/prevent?abc={{p.id}}" class="btn btn-outline-warning" >Prevent from Sell</a>
                        {% endif %}
                    {% else %}
                    <a href="currancy/buy?abc={{p.id}}" class="btn btn-outline-warning" >Buy</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}